# --- NETWORK SETTINGS ---
# Port 22 is Git Passthrough.
# Port 4922 is for direct server access.
Port 22
Port 4922
Protocol 2
AddressFamily inet

PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
UsePAM no

AllowUsers USER_PLACEHOLDER git

LogLevel VERBOSE
LoginGraceTime 30
MaxAuthTries 3
MaxSessions 2

X11Forwarding no
AllowAgentForwarding no
PermitTunnel no

Match User git
    AllowTcpForwarding yes
    # This forces the git user to ONLY use the Forgejo shell shim
    ForceCommand /usr/local/bin/forgejo-shell

Subsystem sftp /usr/lib/openssh/sftp-server
